# **Introduction to Python - Getting Started**

This part will cover the basics of Python. No prior knowledge is required, yet any experience in other programming languages is encouraged.

### **Table of Contents**
0. All you needs to know about Python
1. Console Input & Output
2. Variable & Data Types
3. Arithmetic Operators

## **0. All you needs to know about Python**
- Python is an interpreted, object-oriented language.
- Python is a high-level language, which means its syntax is very similar to English.
- Indentations, or spacing, matters.
- Python is **not** strongly typed. No type declaration needed.
- Python is case sensitive.

For Python's coding conventions, refer to [PEP8](https://www.python.org/dev/peps/pep-0008/)

## **1. Console Output & Input**

- `print()` for console output
- `input("prompt")` for console input
- `#` for comment

In [ ]:
# The line below will print out 'Hello, World!'
print("Hello, World!")

In [ ]:
name = input("What is your name?")
print("Hi,", name)
print("Hi, " + name)

## **2. Variables and Data Types**

Variable is the placeholder for data. 

There are no type declarations like `int x` or `float y` in Python. 

Data types of variables are checked dynamically at run time not when code is compiled. In other words, data type of a variable is defined dynamically by its content at run time.

### Primitive Data types
- string
- int
- float
- bool

In [ ]:
# Assign a value for variable x then run the code
# Try 3, 3.0, and '3' or 'True'

x = 3

print(type(x))

**Note:** When you type a variable at the console, Python returns its value. We can also use the print() function to view the contents

## **3. Operators**

### **3.1 Arithmetic operators**

- `+`  Addition
- `-` Subtraction
- `*` Multiplication
- `/` Division
- `%` Mod/ Remainder
- `**` Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
- `//` Divides and rounds down to the nearest integer

The usual order of mathematical operations holds in Python

In [ ]:
print(3 + 4 ** (6/3))

### **3.2 Comparison operators**
- `>` : Greater than
- `<` : Less than
- `>=` : Greater than or Equal to
- `<=` : Less than or Equal to
- `==` : Equal to
- `!=` : Not equal to

Result: Boolean (True or False)

In [ ]:
width_1 = 1049.23
height_1 = 3032.5

width_2 = 828.50
height_2 = 4201.118

'''
Calculate:
   - area of rectange_1 with width_1 and height_1,
   - area of rectangle_2 with width_2 and height_2,
   - compare to find out which one has a larger area
'''

area_1 = width_1 * height_1
area_2 = width_2 * height_2
print(area_1 > area_2)


###**3.3 Logical operators**
- `and`
- `or`
- `not`

In [ ]:
import random
# assign a random number from -1000 to 1000 to 'random_num' variable
random_num = random.randint(-1000, 1000)

# Check if num is less than 300 and greater than 0
print(random_num)
print(random_num < 300 and random_num > 0)

# **Introduction to Python - Control Flow**

###**Table of Contents**
4. Structured Data Types
5. Conditionals
6. Loops & its variations

## **4. Structured Types**

- Tuple
- List
- Set
- Dictionary

To convert object to one of these structured types, we can use:

`<type name>(<object needs converted)`

For example:


```
a = [1, 2, 3, 4, 5]
set_a = set(a)
list_a = list(set_a)
```

###**4.1 Tuple**

- Tuple is an **ordered** and **immutable** collection
- Can be accessed by index
- Type of elements: Any type (and can contain multiple types)
- Cannot change its elements

In [ ]:
# Tuple
x = (1, (2, True), (3, '3', 3.0), 'Hello')

# Accessing the first dimension
print("At position 0:", x[0])
print("At position 1:", x[1])
print("At position 2:", x[2])
print("The last element of tuple x is:", x[-1])
print() #print out extra line

# Accessing the second dimension
print("At the first position of the third element:", x[2][0])
print("Also, at the first position of the third element:", x[-2][-3])

In [ ]:
# Try to change the value of the second element in tuple x. Error expected.
x[1] = 3

###**4.2 List**

- List is a **ordered** and **mutable** collection
- Can be accessed by index
- Type of elements: any type (and can contain multiple types)
- Can change its elements

In [ ]:
# List
x = [1, (True, 'This is a tuple'), [3, 'Bingo', 4], 'Hello'] 

# Accessing the first dimension
print("At position 0:", x[0])
print("At position 1:", x[1])
print("At position 2:", x[2])
print("The last element of tuple x is:", x[-1])
print() 

# Accessing the second dimension
print("At the first position of the third element:", x[2][0])
print("Also, at the first position of the third element:", x[-2][-3])

In [ ]:
# Try to change the value of the last element in the list x
x[-1] = 'Goodbye'
print(x)

In [ ]:
# Assign x to y, see the effect of changing x on y
x = [1, [2, 'Two'], 3, False , 5]
y = x

print("---BEFORE---")
print("X:", x)
print("Y:", y)
print()

x[1] = 'This element has been changed' #change the second element of x

print("---AFTER---")
print("X:", x)
print("Y:", y)
print()

###**4.3 Set**
- A set is a **unordered** and **mutable** collection of unique elements
- Cannot be accessed by index as there is no fixed order
- Type of elements: any type
- Its elements can be changed using built-in functions

In [ ]:
numbers = [1, 2, 'a', 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

###**4.4 Dictionary**

- A dictionary is an **unordered** and **mutable** collection that stores mappings of unique keys to values.
- Accessed by key, not index
- Type of elements: any type
- Its elements can be changed

In [ ]:
# A dictionary has already created for you. Try to print the dictionary out
school = 'UTD'

students = {"name": "DSC", "age": 2, 'location': {'city': 'Richardson', 'state': 'TX'}, 'chapter': school}

# How do you think it will appear?
students

In [ ]:
# List the keys of the dictionary
print(students.keys())

# List the values in the dictionary
print(students.values())

# Modify a key-value pair of the dictionary:
students['age'] = 10

# Access and retrieve the value using key
print(students['age'])
print(students.get('agr', 0)) # Alternative way

## **5. Conditionals**

Format:

```
if <conditions 1> : 
  <statement to act on condition 1>

elif <condition 2> :
  <statement to act on condition 2>

else :
  <statement to act if none of the above happened>
```

In [ ]:
'''
Let's create a convertor that helps calculate the letter grade:
  + 90 and above : A
  + 80 - 89: B
  + 70 - 79: C
  + 60 - 69: D
  + 59 and below: F
'''

grade = 85

if grade >= 90: 
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
else:
  print("F")

## **6. Loops and its variations**

- `while` loop
- `for` loop
- `in`, `range`, and `enumerate`

Python has 2 types of loops - `for` loops and `while` loops. A for loop is used to "iterate", or do something repeatedly, over an iterable.

An iterable is an object that can return one of its elements at a time. This can be strings, lists, tuples, or even dictionaries and files.

###6.1 while Loops

With the `while` loop we can execute a set of statements as long as a condition is true. `while` loop is normally used when you don't know the number of time you will iterate ahead.

In [ ]:
# Run this code block to see the change of i inside the while loop
i = 0
while i < 10:
  print(i)
  i += 1

### 6.2 for Loops

We used `for` loop when we know how many iterations that we want to do

In [ ]:
# Use of 'range'
for num in range(10):
  print(num)

print("\nAll numbers printed!")

In [ ]:
# Use of 'in'
stores = ['Starbucks', 'Chick-fil-A', 'The Pub', 'Panda Express', 'IHOP']

for store in stores:
    print(store)
print('This is all UTD store')

In [ ]:
''' 
Print all odd number from 1 to 10
'''

for i in range(1, 10, 2):
  print(i)

In [ ]:
# Use of enumerate

stores = ['Starbucks', 'Chick-fil-A', 'The Pub', 'Panda Express', 'IHOP']

print("\n--Without specifying starting point--\n")
for id, store in enumerate(stores):
  print("#" + str(id) + " " + store)


print("\n--Starting point specified --\n")
for id, store in enumerate(stores,2):
  print("#" + str(id) + " " + store)

## **Free Resources**

1.  https://www.python.org/doc/ 
2.  https://www.w3schools.com/python/
3.  https://www.udacity.com/course/introduction-to-python--ud1110